body {
    font-family: 'Poppins', sans-serif;

}

.first-div h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: wheat;

}

#paragraph-first-div {
    text-align: center;
    color: lightgrey;

}

.first-div {
    margin-top: 10%;

}

.second-div {
    text-align: center;
}

#first-button {

    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;


}

.first-section {
    background-image: url(images/donation9.jpg);
    background-size: cover;
    height: 480px;
    padding: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken, luminosity;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.second-section {
    margin-top: 7%;
    text-align: center;
}

.second-section h1 {
    font-size: 40px;
}

#second-section {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.flex-mode {
    margin: 2%;
    display: flex;
    margin-left: 22.5%;
}

#taka {
    color: lightgray;
}

#line {
    width: 40%;
    color: darkgray;
}

#b1 {
    margin-right: 2%;

}

#b1 button {
    height: 150px;
    width: 150px;
    background-color: lightyellow;
    font-size: 30px;
    font-weight: 700;
    border: 1px solid lightyellow;
    border-radius: 5px;
    color: grey;
}

#b2 {
    margin-right: 2%;
}

#b2 button {
    height: 150px;
    width: 150px;
    background-color: lightyellow;
    font-size: 30px;
    font-weight: 700;
    border: 1px solid lightyellow;
    border-radius: 5px;
    color: grey;
}

#b3 {
    margin-right: 2%;
}

#b3 button {
    height: 150px;
    width: 150px;
    background-color: lightpink;
    font-size: 30px;
    font-weight: 700;
    border: 1px solid lightcoral;
    border-radius: 5px;
    color: lightcoral;
}

#b4 {
    margin-right: 2%;
}

#b4 button {
    height: 150px;
    width: 150px;
    background-color: lightyellow;
    font-size: 30px;
    font-weight: 700;
    border: 1px solid lightyellow;
    border-radius: 5px;
    color: grey;
}

#b5 {
    margin-right: 2%;
}

#b5 button {
    height: 150px;
    width: 150px;
    background-color: lightyellow;
    font-size: 30px;
    font-weight: 700;
    border: 1px solid lightyellow;
    border-radius: 5px;
    color: grey;
}

.third-section {
    margin-top: 5%;
    text-align: center;
}

.third-div {
    display: flex;
    margin-left: 10%;
}

#h1 {
    font-size: 40px;
}

#p {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.food {
    margin-left: 2%;
    width: 300px;
    height: 200px;
    padding: 40px;
    border: 1px solid lightsalmon;
    background-color: lightsalmon;
    text-align: left;
    border-radius: 10px;
}

.shelter {
    margin-left: 2%;
    width: 300px;
    height: 200px;
    padding: 40px;
    border: 1px solid lightpink;
    background-color: lightpink;
    text-align: left;
    border-radius: 10px;
}

.child-education {
    margin-left: 2%;
    width: 300px;
    height: 200px;
    padding: 40px;
    border: 1px solid lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;
    text-align: left;
    border-radius: 10px;
}

.forth-section {
    margin-top: 10%;
    display: flex;

}

.description {

    width: 35%;
    margin-left: 10%;
}

.description h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;


}

.image img {
    margin-left: 15%;
    width: 60%;
}

.fifth-section h1 {
    margin-top: 8%;
    font-size: 40px;
    text-align: center;
}

.fifth-section p {

    text-align: center;
    margin: 0;
    padding: 0;
}

.email-field {
    margin-top: 3%;
    margin-left: 30%;
    height: 150px;
    width: 600px;
    border: 1px solid lightyellow;
    background-color: lightyellow;
}

#email {
    width: 190px;
    height: 30px;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    margin-top: 10%;
    margin-left: 22%;


}

#submit {
    width: 120px;
    height: 35px;
    background-color: lightcoral;
    border: 1px solid lightcoral;
    color: white;




}





footer h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: orange;
}

#h2-footer {
    margin-top: 5%;
}

footer p {
    text-align: center;
    color: whitesmoke;

}

footer {
    background-color: black;
}